---
import '../styles/main.css';
import AppHeader from "../components/AppHeader.astro";
import AppFooter from "../components/AppFooter.astro";

export interface SEOProps {
  title?: string;
  description?: string;
  image?: string;
  url?: string;
  type?: 'website' | 'article' | 'profile';
  twitterCard?: 'summary' | 'summary_large_image' | 'app' | 'player';
}

interface Props {
  title: string;
  description?: string;
  seo?: SEOProps;
  schema?: object;
}

const { title, description,seo,schema } = Astro.props;


const siteName = "Construcciones Juan Pablo II S.A.S.";
const canonicalURL = seo?.url ?? Astro.url.href;
const defaultImage = `${Astro.site}logo_full.webp`;
const metaDescription = description ?? seo?.description ?? "Construcciones Juan Pablo II S.A.S., empresa de construcción en San Carlos, Antioquia.";

const BaseLayoutSchema = {
  "@context": "https://schema.org",
  "@type": "HomeAndConstructionBusiness",
  "name": "Construcciones Juan Pablo II S.A.S.",
  "url": `${Astro.site}`,
  "logo": `${Astro.site}logo_full.webp`,
  "email": "info@construccionesjuanpabloii.com",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "San Carlos",
    "addressRegion": "Antioquia",
    "addressCountry": "CO",
    "areaServed": "Antioquia"
  },
  "telephone": "+57 3000000000"
};
const schemaString = JSON.stringify(schema ?? BaseLayoutSchema);
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={seo?.description ?? description ??"Construcciones Juan Pablo II S.A.S., empresa de construcción en San Carlos, Antioquia. Expertos en viviendas, remodelaciones y obras civiles con altos estándares de calidad."} />
    <title>{title}</title>

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />

    <meta property="og:type" content={seo?.type ?? "website"} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={seo?.title ?? title} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content={seo?.image ?? defaultImage} />
    <meta property="og:site_name" content={siteName} />

    <meta property="twitter:card" content={seo?.twitterCard ?? defaultImage} />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={seo?.title ?? title} />
    <meta property="twitter:description" content={metaDescription} />
    <meta property="twitter:image" content={seo?.image ?? defaultImage} />

      
    <script type="application/ld+json" set:html={schemaString} />
  </head>
  <body>
    <!-- Wrap the slot element with your existing layout templating -->
    <div class="layout">
      <AppHeader />
      <main class="main-content">
        <slot />
      </main>
      <AppFooter />
    </div>
  </body>
</html>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main-content {
    flex: 1;
  }
</style>
